{
  "printWidth": 124,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^react-dom",
    "^antd",
    "^@/pages/*",
    "^@/components/*",
    "^@/api/*",
    "^@/dev/*",
    "^@/store/*",
    "^@/types/*",
    "^@/constants/*",
    "^../(.*)$",
    "^./(.*)$",
    "^<THIRD_PARTY_MODULES>"
  ],
  "importOrderSeparation": true
}
